/* ------------------------------------======
======---------------------------------======
	Button
======---------------------------------======
======---------------------------------=== */

@layer composition {
	.button {
		--button-background: var(
			--ds-theme-button-primary-color-background-default
		);
		--button-color: var(--ds-theme-button-primary-color-content-default);

		padding: 0.25rem 0.75rem;

		border-radius: var(--ds-theme-border-radius-md);
		background: var(--button-background);

		color: var(--button-color);
		font-size: var(--ds-theme-button-size-default-typography-font-size);
		font-weight: var(--ds-theme-button-size-default-typography-font-weight);
		line-height: var(--ds-theme-button-size-default-typography-line-height);

		cursor: pointer;
		text-decoration: none;

		&:hover {
			--button-background: var(
				--ds-theme-button-primary-color-background-hover
			);
			--button-color: var(--ds-theme-button-primary-color-content-hover);
		}

		&:focus {
			--button-background: var(
				--ds-theme-button-primary-color-background-hover
			);
			--button-color: var(--ds-theme-button-primary-color-content-hover);
		}

		&:active {
			--button-background: var(
				--ds-theme-button-primary-color-background-active
			);
			--button-color: var(--ds-theme-button-primary-color-content-active);
		}
	}
}
